<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Biblioteca</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="template::navbar"></div>
	<div class="container">		
		<h3>Copias del libro</h3>
		<h3 th:text="${isbn}"></h3>
		<a class="btn btn-success btn-sm mb-3"
			th:href="@{'/copies/add-copy/' + ${isbn}}">Agregar Copia</a>

		<div class="container">
			<table class="table table-striped table-hover table-responsive-md">
				<thead>
					<th><a
						th:href="@{'/copy/page/' + ${currentPage} + 
					'?sortField=id&sortDir=' + ${reverseSortDir}}">ID</a>
					</th>
					<th><a
						th:href="@{'/copy/page/' + ${currentPage} + 
					'?sortField=estado&sortDir=' + ${reverseSortDir}}">Estado</a>
					</th>

					<th>Acciones</th>
				</thead>
				<tbody>
					<tr th:each="copy: ${listCopies}">
						<td th:text="${copy.id}"></td>
						<td th:text="${copy.estado}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/copies/update-copy/{id}(id=${copy.id})}">Actualizar</a> <a
							class="btn btn-danger"
							th:href="@{/copies/delete-copy/{id}(id=${copy.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>

			<div th:if="${totalPages > 1 }">
				<div class="row col-sm-10">
					<div class="col-sm-5">Total Filas: [[${totalItems}]]</div>
					<div class="col-sm-3">
						<span th:each="i:${#numbers.sequence(1, totalPages)}"> <a
							th:if="${currentPage !=1}"
							th:href="@{'/readers/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir='+ ${sortDir} }">[[${i}]]</a>
							<span th:unless="${currentPage !=1}">[[${i}]]</span>
						</span>
					</div>
					<div class="col-sm-1">
						<a th:if="${currentPage < totalPages}"
							th:href="@{'/readers/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Siguiente</a>
						<a th:unless="${currentPage < totalPages}"
							th:href="@{'/readers/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Anterior</a>
					</div>
					<div class="col-sm-1">
						<a th:if="${currentPage < totalPages}"
							th:href="@{'/readers/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Última</a>
						<a th:unless="${currentPage < totalPages}"
							th:href="@{'/readers/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Primera</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>